/**
 * Calendar
 */

$calendarUnit:       clamp(108px, 14vw, 162px);
$calendarRowHeight:  clamp(8rem, 12.8vw, 9.6rem); // 1000px時 12.8vw = 8rem
$calendarFontSize:   clamp(12px, 1.2vw, 14.4px); // 1000px時 1.2vw = 12px

.calendar {
  width: min(100%, 72rem);
  margin: 3rem auto;

  &__control {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.75rem;
  }

  &__prev, &__next {
    display: block;
    width: 4.5rem;
    font-size: 0.875rem;
    text-align: center;
  }

  &__wrap {
    width: min(100%, 72rem);
    margin: 0 auto;
    overflow: auto;
  }

  &__view {
    table-layout: fixed;
    width: calc(#{$calendarUnit} * 7);
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;

    tr {
      border-bottom: 1px solid #999999;

      &:first-child {
        border-top: 1px solid #999999;
      }
    }

    th, td {
      width: $calendarUnit;
      border-right: 1px solid #999999;
      text-align: center;

      &:first-child {
        border-left: 1px solid #999999;
        color: red;
      }
    
      &:last-child {
        color: blue;
      }
    }

    td {
      height: $calendarRowHeight;
    }
  }

  &__schedule {
    width: 100%;
    height: 100%;
    padding: 3px;
    font-size: $calendarFontSize;
    text-align: left;
    line-height: 1.2;

    &.--holiday p:first-child {
      color: red;
    }

    p {
      display: inline-block;
      width: calc(100% - 6px);
      margin: 0;
      padding: 3px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &:not(:first-child) {
        border-radius: 3px;
        background-color: #666666;
        color: #ffffff;
      }

      &.--cyan {
        background-color: cyan;
        color: #333333;
      }

      &.--magenta {
        background-color: magenta;
        color: #333333;
      }

      &.--yellow {
        background-color: yellow;
        color: #333333;
      }
    }
  }
}
