/**
 * Calendar
 */

$calendarUnit:       clamp(108px, 14vw, 128px); // 900 / 7 の近似値
$calendarRowHeight:  128px;
$calendarFontSize:   12px;
$calendarBaseColor:  #333333;
$calendarBorder:     2px solid #cccccc;
$calendarSunColor:   #ef8f8f;
$calendarSatColor:   #8f8fef;

.calendar {
  &__control {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
  }

  &__current {
    font-weight: 700;
    font-size: 20px;
    transform: scaleY(1.2);
  }

  &__prev, &__next {
    display: block;
    width: 96px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    transform: scaleY(1.2);
  }

  &__wrap {
    width: 98vw; // 14vw * 7
    margin: 0 calc(50% - 49vw);
    overflow: auto;
  }

  &__view {
    table-layout: fixed; // Fix table layout
    width: calc(#{$calendarUnit} * 7);
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;

    tr {
      border-bottom: $calendarBorder;

      &:first-child {
        border-top: $calendarBorder;
      }
    }

    th, td {
      box-sizing: border-box; // Reset
      width: $calendarUnit;
      border-right: $calendarBorder;
      text-align: center;

      &:first-child {
        border-left: $calendarBorder;
      }
    }

    th {
      background-color: $calendarBaseColor;
      color: #ffffff;
    }

    td {
      height: $calendarRowHeight;
      background-color: #ffffff;
    }
  }

  &__schedule {
    width: 100%;
    height: 100%;
    padding: 3px;
    font-size: $calendarFontSize;
    text-align: left;
    line-height: 1.2;

    &.--holiday p:first-child {
      color: $calendarSunColor;
    }

    p {
      display: inline-block;
      width: calc(100% - 12px); // Subtract the padding. In some cases it is not necessary.
      margin: 0;
      padding: 3px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &:first-child {
        font-weight: 700;
        text-align: right;
      }

      &:not(:first-child) {
        border-radius: 3px;
        background-color: #666666;
        color: #ffffff;
      }

      &.--blue {
        background-color: #6464db; // Sample color setting
      }

      &.--red {
        background-color: #ff8080; // Sample color setting
      }

      &.--yellow {
        background-color: #ffff80; // Sample color setting
        color: #333333;
      }

      & > a, & > a:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  &:not(.--startOnMon) {
    td {
      &:first-child {
        color: $calendarSunColor;
      }
    
      &:last-child {
        color: $calendarSatColor;
      }
    }
  }

  &.--startOnMon {
    td {
      &:nth-child(7) {
        color: $calendarSunColor;
      }
    
      &:nth-child(6) {
        color: $calendarSatColor;
      }
    }
  }
}
